@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary */
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  /* Neutral */
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
  /* heading font */
  --font-head: "Poppins", sans-serif;
  --font-family: "Open Sans", sans-serif;
}
body {
  font-family: var(--font-family);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 4rem 0;
}
.hero {
  min-height: 100vh;
  /* position relative: after wave position absolute respect to hero */
  position: relative;
}
.hero__main {
  color: var(--very-dark-cyan);
}
.hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.hero__logo {
  width: 40%;
  max-width: 150px;
}
.hero__huddle {
  width: 100%;
  display: block;
}
.hero__button {
  color: var(--light-pink);
  font-size: 16px;
  padding: 0.3em 1.5em;
  border: solid 2px;
  border-radius: 2em;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 0 0 1px hsl(192, 100%, 9%, 0.5);
}
.hero__texts {
  text-align: center;
}
.hero__title {
  font-family: var(--font-head);
  font-size: 1.6rem;
  padding-bottom: 1em;
}
.hero__paragraph {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 400;
}
.button {
  display: inline-block;
  background-color: var(--pink);
  padding: 0.8em 2em;
  border-radius: 2em;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  box-shadow: -5px 8px 16px -10px hsl(192, 100%, 9%, 0.5);
  margin-top: 3em;
}
.hero__boximg {
  width: 90%;
  margin: 5rem auto;
}
.hero__img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.hero__numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.hero__item {
  text-align: center;
  margin-bottom: 2em;
}

.hero__icon {
  display: block;
}
.hero__number {
  font-size: 3.5rem;
  color: var(--very-dark-cyan);
}
.hero__text {
  text-align: center;
}
.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100px;
}
.wave--bottom {
  left: 0;
  bottom: 0;
  background-image: url(../images/bg-section-top-mobile-1.svg);
}
.section {
  background-color: var(--very-pale-blue);
}
.section__picture {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3em;
}
.section__img {
  width: 100%;
  display: block;
}
.section__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section__title {
  font-size: 1.3rem;
  text-transform: capitalize;
  padding-bottom: 1em;
}
.section__paragraph {
  width: 90%;
  max-width: 600px;
  line-height: 1.5;
}
.wave--top {
  left: 0;
  top: 0;
}
